.navbarBottom__container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 50px;
    background-color: var(--bg-nav-bottom);
    position: fixed;
    bottom: 0;
    padding: 0 30px;
    z-index: 20000000;
}

.navbarBottom__container_icon{
    display: flex;
    align-items: center;
    gap: 20px;
}

.navbarBottom__container_icon a{
    color: white;
}