.containerAvatar{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid white;
}
.containerAvatar img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.containerAvatarNormal{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 1px solid white;
}

.containerAvatarNormal img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.containerAvatarBig{
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
    border: 3px solid rgb(173, 173, 173);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    
}


.containerAvatarBig img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    transition: all 7s ease-in-out;
}

.containerAvatarBig img:hover{
   transform: scale(1.3);
}

/* @media (min-width: 600px) {
    .containerAvatar{
        width: 30px;
        height: 30px;
    }
  
} */

