.card__container_default {
  width: 150px;
  height: 250px;
  padding: 10px;
}

.card__container_big {
  width: 180px;
  height: 250px;
  padding: 10px;
}

.cardSugest__container_img {
  width: 100%;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
}

.cardSugest__container_img img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
}

.cardSugest__container_text {
  margin-top: 10px;
}

.cardName {
  font-size: 15px;
  color: #333;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.container_infos__school{
  display: flex;
  flex-direction: column;
}

.cardSugest__text_location {
  font-size: 12px;
  color: rgb(155, 176, 170);
  text-transform: capitalize;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.cardSugest__text_address {
  font-size: 10px;
  color: rgb(80, 89, 87);
}

@media (min-width: 850px) {
  .card__container_default {
    width: 300px;
    height: 350px;
    padding: 10px;
  }

  .card__container_big {
    width: 350px;
    height: 350px;
    padding: 10px;
  }

  .cardSugest__container_img {
    width: 100%;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
  }
}
