.container_dots{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.dots1{
    width: 20px;
    height: 20px;
    background-color: #333;
    border-radius: 50%;
    animation: loading 1s ease-in-out infinite;
    
}



.dots2{
    width: 20px;
    height: 20px;
    background-color: #333;
    border-radius: 50%;
    animation: loading 1s ease-in-out infinite;
    animation-delay: 1.25s;

}

.dots3{
    width: 20px;
    height: 20px;
    background-color: #333;
    border-radius: 50%;
    animation: loading 1s ease-in-out infinite;
    animation-delay: 1.50s;
}

.dot1white{
    width: 20px;
    height: 20px;
    background-color: #e6e6e6;
    border-radius: 50%;
    animation: loading 1s ease-in-out infinite;
}

.dot2white{
    width: 20px;
    height: 20px;
    background-color: #e6e6e6;
    border-radius: 50%;
    animation: loading 1s ease-in-out infinite;
    animation-delay: 1.25s;
}

.dot3white{
    width: 20px;
    height: 20px;
    background-color: #e6e6e6;
    border-radius: 50%;
    animation: loading 1s ease-in-out infinite;
    animation-delay: 1.50s;
}

@keyframes loading {
    0% {
     transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
  }