.mapCardDrawer {
    position: fixed;
    bottom: 0px;
    height: 500px;
    width: 100%;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    background: #f1f1f1;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
    z-index: 15000001;
    overflow-y: scroll;
}

@media (min-width: 1080px) {
    .mapCardDrawer {
      display: none;
    }
  }
  
  
  