.container_card_main {
  width: 320px;
  height: 700px;
  background-color: #f1f1f1;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
}

.container_card_main:nth-child(2){
  transform: scale(1);
}

.card_header {
  position: relative;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.card_title {
  color: #333;
  font-size: 30px;
}

.card_header_icon {
  position: absolute;
  bottom: -22px;
  transform: rotate(90deg);
}

.card_body {
  padding: 10px 40px;
  margin-bottom: 30px;
}

.divider {
  height: 2px;
  width: 100px;
  margin: 30px auto;
  background-color: #c1c1c1;
}

.container_card_price {

  text-align: center;
}

.container_card_price span {
  font-size: 35px;
  text-transform: capitalize;
  font-weight: 400;
}

.text_green {
  color: #088f8f;
}

.text_blue {
  color: #414c68;
}

.text_orange {
  color: #ff8b3d;
}

.container_btn_card {
  padding: 0 40px;
  display: flex;
  justify-content: center;
}

.prices_btn{
  font: inherit;
  padding: 1rem 1.5rem;
  border: 1px solid rgb(159, 203, 191);
  border-radius: 5px;
  background: var(--bg-button);
  color: white;
  cursor: pointer;
  text-decoration: none;
  margin-top: 20px;
  display: inline-block;
  font-size: 12px;
}

.prices_card_info_btn {
  font: inherit;
  padding: 1rem 1.5rem;
  border: 1px solid rgb(159, 203, 191);
  border-radius: 5px;
  background: var(--bg-button);
  color: white;
  cursor: pointer;
  text-decoration: none;
  margin-top: 20px;
  display: inline-block;
  font-size: 12px;
}

.container_logo_payement {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.container_logo_payement img {
  width: 25px;
}

@media (min-width: 704px) {
  .container_card_main {
    width: 400px;
    height: 730px;
    background-color: #f1f1f1;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  }

  .prices_card_info_btn {
    font: inherit;
    padding: 1rem 1.5rem;
    border: 1px solid rgb(159, 203, 191);
    border-radius: 5px;
    background: var(--bg-button);
    color: white;
    cursor: pointer;
    text-decoration: none;
    margin-top: 20px;
    display: inline-block;
    
  }

  .prices_btn{
    font: inherit;
    padding: 1rem 1.5rem;
    border: 1px solid rgb(159, 203, 191);
    border-radius: 5px;
    background: var(--bg-button);
    color: white;
    cursor: pointer;
    text-decoration: none;
    margin-top: 20px;
    display: inline-block;
  }
}

@media (min-width: 1220px) {
 

  .container_card_main:nth-child(2){
    transform: scale(1.07);
  }



}
