.listContainer {
  margin-bottom: 50px;
  position: relative;
  padding: 10px;
}

.listTitle {
  margin-bottom: 20px;

  font-size: 20px;
  color: #757575;
  font-weight: 500;
  text-transform:capitalize;
}

.card__container_noWrap {
  width: 100%;
  display: flex;
  padding: 0 20px;
  transform: translateX(0);
  transition: all 1s ease;
}

.card__container_wrap {
  width: 100%;
  gap: 10px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.container_link__card {
  width: 100%;
  margin-bottom: 20px;
  max-width: 390px;
}

.container_arrow_left {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 0 auto;
  gap: 30px;
  left: 0px;
  top: 110px;
  background-color: rgba(49, 49, 49, 0.7);
  z-index: 30;
}

.container_arrow_right{
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 0 auto;
  gap: 30px;
  right: 10px;
  top: 110px;
  background-color: rgba(49, 49, 49, 0.7);
  z-index: 30;
}

@media (min-width: 850px) {
  .container_arrow_left {
    width: 50px;
    height: 50px;
    gap: 30px;
    left: 10px;
    top: 120px;
  }
  
  .container_arrow_right{
    width: 50px;
    height: 50px;
    gap: 30px;
    right: 10px;
    top: 120px;
  }
}

@media (min-width: 1080px) {

  .listContainer {
    width: 80%;
    margin: 0 auto;
  }

  .listTitle {
    font-size: 25px;
  }

  .card__container_wrap {
    gap: 5px;
  }

  .container_link__card {
    width: 100%;
    margin-bottom: 40px;
    max-width: 390px;
  }

  .container_arrow_left {
    width: 50px;
    height: 50px;
    gap: 30px;
    left: -50px;
    top: 130px;
  }
  
  .container_arrow_right{
    width: 50px;
    height: 50px;
    gap: 30px;
    right: -100px;
    top: 120px;
  }
}
