.containerFormRegister{
    width: 100%;
    padding: 10px;
    margin: 0 auto;
    max-width: 600px;
 }
 .containerForm_title{
    margin-top: 100px;
}

.formTitle{
    text-align: center;
    font-size: 30px;
    font-weight: 300;
    color: #333;
}

.container_input_btn{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

.registerForm{
    margin-top: 50px;
}