.container_navigation{
    width: 100%;
    display: flex;
    justify-content: center;
}

.containerProfil{
    width: 100%;
    padding: 10px;
}

.container_infos{
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.icon__change_pic{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background:#15273c;
    border: 1px solid white;
    border-radius: 50%;
    top: 200px;
    left: 55%;
    
}

.icon__change_pic_done{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background:green;
    border-radius: 50%;
    top: 200px;
    left: 55%;
}

.container_Input{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 800px;
    margin-top: 20px;
}

.formControl{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.formControl input{
    width: 100%;
    height: 40px;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid #333;
    outline: none;
}

.formControl input::placeholder{
    font-size: 18px;
    font-style: italic;
    font-weight: 500;
}

.formControl label{
    font-size: 18px;
    font-weight: 500;
}

.preview{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 1px solid white;
}

.preview img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.container_title__profil {
    font-size: 30px;
    font-weight: 400;
    color: #282828;
    text-transform: capitalize;
  }

  .container_profil_details_validate_btn{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
  }

@media (min-width: 1080px) {
    .container_infos{
        margin-top: 100px;
    }

    .formControl label{
        font-size: 18px;
        font-weight: 400;
        color: #333;
    }

    .formControl{
        margin-bottom: 20px;
    }

    .formControl input{
        border-bottom: 1px solid #bebebe;
    }

    .container_title__profil {
        font-size: 40px;
        font-weight: 400;
        color: #282828;
        text-transform: capitalize;
      }

      .container_profil_details_validate_btn{
        width: 80%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
      }

      .icon__change_pic{
        top: 200px;
        left: 53%;
        
    }
    
    .icon__change_pic_done{
        top: 200px;
        left: 53%;
    }
  }