
.mainheader {
    width: 100%;
    height: 8rem;
    display: flex;
    align-items: center;
    position: fixed;
    background-color: var(--bg-nav-bottom);
    padding: 0 1rem;
    z-index: 1000000;
  }


  @media (min-width: 768px) {
    .mainheader {
      justify-content: space-between;
      height: 8.5rem;
    }
  }

  @media (min-width: 1080px) {
    .mainheader {
      justify-content: space-between;
      height: 50px;
    }
  }