.mainNavigation__container_item {
  width: 100%;
  display: flex;
  top: 0;
  flex-direction: column;
  justify-content: center;
  margin: 2px auto;
  max-width: 1224px;
}

.mainNavigation__container_title_avatar {
  width: 100%;
  padding: 0 10px;
  margin: 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mainNavigation__title {
  font-size: 23px;
  color: white;
  font-weight: 800;
}

.container__avatar_logout {
  display: flex;
  align-items: center;
  gap: 15px;
}

.container__avatar_logout span {
  color: white;
  font-size: 12px;
}

.mainNavigation__container_title_avatar a {
  text-decoration: none;
  color: white;
}

.mainNavigation__container_item_desktop {
  display: none;
}

.container_icon_notification{
  position: relative;
  width: 35px;
  height: 35px;
  background-color: #9a9a9a;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  z-index: 1;
}

.container_icon_notification:hover{
  background-color: #bdbcbc;
}

.cart_item_number{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: crimson;
  top: -5px;
  right: -5px;
  z-index: 2;
}

.cart_item_number h6{
  color: white;
  font-size: 15px;
}


@media (min-width: 600px) {
  .mainNavigation__title {
    font-size: 25px;
  }

  .container__avatar_logout span {
    font-size: 15px;
  }
}

@media (min-width: 1080px) {
  .mainNavigation__container_item {
    display: none;
  }

  .mainNavigation__container_item_desktop {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2px auto;
    top: 0;
    max-width: 1224px;
  }
}
