.container_header_title{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.container_header_title a{
    color: rgb(0, 102, 255);
    font-size: 17px;
}


.card_fav_title {
  font-size: 22px;
  font-weight: 500;
}

.container_header_tile_number{
    display: flex;
    flex-direction: column;
}

.card_frinds_number{
    font-size: 14px;
    color: #8c8c8c;
}

.container_grid_img{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, 115px);
    gap: 6px;
}

.container_img{
    width: 115px;
    height: 115px;
    border-radius: 10px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
    margin-bottom: 30px;
    transition: all 0.1s ease-in-out;
}

.container_img:hover{
    transform: scale(1.03);
}

.container_img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.container_fullname{
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.friends_name{
    font-size: 13px;
    font-weight: 600;
    white-space: nowrap;
    color: #646464;
}

.noFav_text{
    text-align: center;
    margin-top: 100px;
    font-size: 20px;
    font-weight: 400;
    color: #646464;
}