.container_item {
  margin-bottom: 30px;
}

.form_banner_profil {
  width: 100%;
}

/* .container_profil_section {
  display: flex;
  flex-direction: column;
} */



h2 {
  margin-bottom: 10px;
}

.title {
  font-size: 30px;
  font-weight: 500;
  color: #333;
}

.section_account_title {
  font-size: 25px;
  font-weight: 500;
  color: #333;
}

a {
  color: #1f1f1f;
  text-decoration: none;
}

.container_hero_user {
  width: 100%;
  height: 400px;
  position: relative;
  background-position: 50% 30%;
  background-color: #3f3f3f;
  margin-bottom: 20px;
}

.container_hero_user_avatar {
  position: absolute;
  bottom: -30px;
  left: 10px;
  z-index: 1;
}

.container_hero_user_infos {
  width: 100%;
  height: 80px;
  padding: 1px;
  display: flex;
  align-items: center;
  padding: 0 10px;
}

.user_infos_item{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container_profil_menu{
  display: flex;
  align-items: center;
  gap: 15px;
}

.profil_menu_item{
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 5px;
}

.profil_menu_item:nth-child(4){
  display: none;
}

.profil_menu_item_text{
  display: none;
}

.infos_name {
  color: rgb(26, 26, 26);
  font-size: 25px;
  font-weight: 500;
  color: #4f4f4f;
  z-index: 4;
}

.container_icon_add_banner {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  right: 10px;
  bottom: 10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #15273c;
  z-index: 55555;
  cursor: pointer;
}

.container_icon_add_avatar {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  right: 5px;
  bottom: 5px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #15273c;
  z-index: 55555;
  cursor: pointer;
}

.btn_banner_validate {
  position: absolute;
  display: flex;
  align-items: center;
  font-size: 15px;
  padding: 5px 10px;
  color: #f1f1f1;
  border: none;
  border-radius: 5px;
  outline: none;
  background-color: #15273c;
  cursor: pointer;
  bottom: -30px;
  left: 50%;
  z-index: 66666;
}

.container_loading {
  position: absolute;
  bottom: -40px;
  left: 50%;
}

.container_profil_account {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.container_card_infos_left{
  width: 100%;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, 100%);
  gap: 20px;
}

.card_item_infos {
  width: 100%;
  padding: 10px;
  border: 1px solid #d1d1d1;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.card_item_resume{
  width: 100%;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.container_title_kartajob{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.question_mark{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #15273c;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
  cursor: pointer;
}

.resume_group_item{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}

.resume_group_item span{
  text-transform: capitalize;
  font-weight: 500;
  color: #6c6c6c;
}

.resume_item{
  border: 1px solid #aeaeae;
  border-radius: 10px;
  background-color: #e2e2e2;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
}

.resume_item:hover{
  background-color: #c1c1c1;
}


.profil_info_title {
  font-size: 22px;
  font-weight: 500;
  color: #343434;

}


.title_bold_color{
  color: #4a739f;
}

.profil_info_items_group{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
}

.profil_info_item{
  display: flex;
  align-items: center;
  gap: 5px;
}

.infos_text_light{
  font-weight: 400;
}

.infos_text_bold{
  font-weight: 600;
}


/* ------ */
.container_profil_section {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  gap: 20px;
}

.user_post_avatar_input{
  width: 100%;
  display: flex;
  align-items: center;
  gap: 15px;
}


input{
  width: 80%;
  outline: none;
  border: none;
  border-bottom: 2px solid #b1bac4;
}

.container_icon_send{
  height: 50px;
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #15273c;
  cursor: pointer;
}

.container_user_feed_title{
  height: 120px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.container_user_feed_title h4{
  font-size: 20px;
  padding: 15px;
  font-weight: 700;
  border-bottom: 1px solid #b1bac4;
}

.container_choice_feed{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container_choice_feed button{
  width: 50%;
  height: 40px;
  background:none;
  border: none;
  font-size: 18px;
  font-weight: 600;
  color: #4f4f4f;
  cursor: pointer;
}

.container_choice_feed button:nth-child(1){
  border-right: 1px solid #b1bac4;
}

.container_choice_feed button:hover{
  color: #1b6fc8;
}

.container_user_feed{
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}



/* --------- */

.card_progress_bar_title {
  font-size: 15px;
  font-weight: 400;
  text-align: center;
  color: #333;
  margin: 0 auto;
}

.container_progress_bar {
  width: 80%;
  height: 25px;
  margin: 10px auto 30px auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #a1a1a1;
  border-radius: 10px;
}

.infos_divider{
  width: 100%;
  height: 1px;
  margin-bottom: 30px;
  background-color: #b0b0b0;
}

.container_bar{
  width: 100%;
  display: flex;
  
}

.progress_bar_red {
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: crimson;
  border: 1px solid #d8d8d8;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
}

.progress_bar_orange {
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: rgb(220, 93, 20);
  border: 1px solid #d8d8d8;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
}

.progress_bar_green {
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: #15273c;
  border: 1px solid #d8d8d8;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
}

.progress_bar_complete {
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 20px;
  background-color: #15273c;
  border: 1px solid #d8d8d8;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
}


.container_input_user_post {
  width: 100%;
  padding: 15px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  position: relative;
  overflow: hidden;
}

.container_input {
  display: flex;
  align-items: center;
  gap: 10px;
}

.input_btn_school {
  padding: 10px;
  width: 80%;
  border: none;
  background-color: #f1f1f1;
  border-radius: 30px;
  text-align: start;
  font-size: 18px;
  color: #868686;
  cursor: pointer;
}


@media(min-width: 600px){
  input{
    width: 100%;
  } 
}

@media (min-width: 1250px) {
  .container_item {
    margin-bottom: 0;
  }

  .container_item_profil {
    margin-top: 100px;
  }

  .container_hero_user {
    width: 100%;
    height: 400px;
    margin-bottom: 0;
  }

  .container_hero_user_avatar {
    bottom: -100px;
    left: 80px;
  }

  .container_hero_user_infos {
    padding: 0 160px 0 280px;
  }

  .profil_menu_item:nth-child(4){
    display: flex;
  }

  .profil_menu_item_text{
    display: block;
    font-size: 17px;
    color: #4f4f4f;
    font-weight: 600;
  }

  .section_account_title {
    font-size: 30px;
    font-weight: 400;
    color: #222222;
  }

  .container_icon_add_banner {
    border: 3px solid white;
    right: 10px;
    bottom: 10px;
    width: 40px;
    height: 40px;
  }

  .container_icon_add_avatar {
    border: 3px solid white;
    right: 10px;
    bottom: 15px;
    width: 40px;
    height: 40px;
  }

  .btn_banner_validate {
    padding: 10px 20px;
    bottom: -40px;
    left: 50%;
  }

  .container_profil_account {
    margin-top: 0;
    padding: 40px 0;
    width: 100%;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, 400px);
    gap: 20px;
    background-color: #f1f1f1;
  }

  .container_profil_section {
    width: 800px;
    margin: 0;
  }

  .container_input_user_post{
    height: 150px;
    padding: 15px;
  }

  .user_post_avatar_input{
    width: 100%;
  }

  .card_item_infos {
    width: 400px;
    height: 500px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  }

  .profil_info_title{
    font-size: 22px;
    font-weight: 500;
  }

  .card_item_resume{
    width: 400px;
    padding: 20px;
  }



 
}
