.formControl {
    margin: 0;
  }
  
  .formControl label,
  .formControl input,
  .formControl textarea,
  .formControl select {
    display: block;
  }

  /* .formControl input::placeholder,
  .formControl textarea::placeholder,
  .formControl select::placeholder{
   
  } */
  
  .formControl label {
    font-weight: 500;
    font-size: 15px;
    color: #333;
  }
  
  .formControl input,
  .formControl select {
    width: 100%;
    height: 50px;
    font: inherit;
    border: 1px solid #ccc;
    background: #f8f8f8;
    padding: 15px;
    border-radius: 5px;
  }

  .formControl textarea{
    width: 100%;
    height: 100px;
    font: inherit;
    border: 1px solid #ccc;
    background: #f8f8f8;
    padding: 15px;
    border-radius: 5px;
  }

  .formControl textarea::-webkit-scrollbar {
    width: 10px;
    border-radius: 10px;
  }
  
  .formControl textarea::-webkit-scrollbar-track {
    background-color: #f1f1f1;
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #888;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  .formControlMobile input{
    width: 100%;
    height: 40px;
    font: inherit;
    border: 1px solid #ccc;
    background: #f8f8f8;
    padding: 15px;
    border-radius: 8px;
  }
  
  .formControl input:focus,
  .formControl textarea:focus {
    outline: none;
    background: #ebebeb;
    border-color:  rgb(130, 170, 159);
  }
  
  .formControlInvalid label,
  .formControlInvalid p {
    color: red;
  }
  
  .formControlInvalid input,
  .formControlInvalid textarea {
    border-color: red;
    background: #ffd1d1;
  }