.formControl {
    margin: 0.5rem 0;
  }
  
  .formControl label,
  .formControl input,
  .formControl textarea {
    display: block;
  }

  .formControl input::placeholder,
  .formControl textarea::placeholder{
    font-style: italic;
    text-transform: capitalize;
  }
  
  .formControl label {
    font-weight: bold;
  }
  
  .formControl input,
  .formControl textarea {
    width: 100%;
    font: inherit;
    border: 1px solid #ccc;
    background: #f8f8f8;
    padding: 15px;
    border-radius: 8px;
  }

  .formControlMobile input{
    width: 100%;
    height: 40px;
    font: inherit;
    border: 1px solid #ccc;
    background: #f8f8f8;
    padding: 15px;
    border-radius: 8px;
  }
  
  .formControl input:focus,
  .formControl textarea:focus {
    outline: none;
    background: #ebebeb;
    border-color:  rgb(130, 170, 159);
  }
  
  .formControlInvalid label,
  .formControlInvalid p {
    color: red;
  }
  
  .formControlInvalid input,
  .formControlInvalid textarea {
    border-color: red;
    background: #ffd1d1;
  }